*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    

}

.darkMode{
    color: white;
    background-color: black;
}

#color-card{
    color: black !important;
}

.agregarCamisetas{
    text-align: center;
    justify-content: center;
}
